/*
This file is used to contain all imports.
*/

// import abstracts
@import "abstracts/variables";
@import "abstracts/mixins";
// import components
@import "components/buttons";
@import "components/inputs";
body {
    background-color: $Persian_Green;
    padding: 50px;
}

.wrapper-content {
    background-color: $white;
    @include border(1px, solid, $white);
    @include border-radius(15px);
    overflow: hidden;
}

.red {
    @include color-circle($red);
    @include border-radius(50%);
}

.orange {
    @include color-circle($orange);
    @include border-radius(50%);
}

.green {
    @include color-circle($green);
    @include border-radius(50%);
}

.left-side {
    .left-header {
        padding: 20px;
        background-color: $light_gray;
    }
    .left-body {
        .nav {
            width: 100%;
            li {
                width: 33.33%;
                a {
                    background-color: $medium_gray;
                    text-align: center;
                    border: none;
                    @include border-radius(0px);
                    margin-right: 0px;
                    .fa {
                        color: $dark_gray;
                    }
                }
            }
            li.active {
                a {
                    background-color: #00a69c;
                    .fa {
                        color: $white;
                    }
                }
            }
        }
        .media {
            position: relative;
            margin: 7px;
            .time {
                position: absolute;
                top: 0;
                right: 0;
                color: #929495;
                font-size: 12px;
            }
            p {
                @include truncate(1);
                color: $darken_gray;
                padding: 0px 5px 0px 0px;
            }
            h3 {
                font-size: 17px;
                color: $more_gray;
                text-transform: uppercase;
                margin-bottom: 0px;
            }
            .media-left {
                padding-right: 15px;
                .profile_img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}



.right-side {
    @include prefix(transition, all .5s ease);
    .right-header {
        padding: 10px;
        .profile_img {
            width: 40px;
            height: 40px;
        }
        .contact-name {
            font-size: 17px;
            color: $more_gray;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        a {
            color: $dark_gray;
            float: right;
        }
    }
    .right-body {
        .upload {
            color: $darken_gray;
        }
        .form-group {
            background-color: $medium_gray;
            padding: 10px;
            margin-bottom: 0px;
            .form-control {
                display: inline-block;
                width: 88%;
            }
            .uploader {
                display: none;
            }
        }
    }
}


.chat {
    background-color: $light_gray;
    display: inline-block;
    .chat-box {
        margin: 10px;
        display: inline-block;
        padding: 20px;
        @include border-radius(6px);
        width: calc(100% - 85px);
        min-width: 100px;
        position: relative;
        background-color: $white;
        width: 70%;
        clear: both;
        .text {
            @include truncate(1);
        }
        &:before,
        &:after {
            top: 4px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
        }
        &:after {
            border-width: 4px;
            margin-top: 0;
        }
        &:before {
            border-width: 5px;
            margin-top: 0;
        }
    }
    .left-arrow {
        color: $darken_gray;
        &:before,
        &:after {
            right: 100%;
            border-right-color: $white;
        }
    }
    .right-arrow {
        background-color: $Persian_Green;
        float: right;
        color: $white;
        &:before,
        &:after {
            top: 4px;
            left: 100%;
            border-left-color: $Persian_Green;
        }
    }
}

.chat-wrapper {
    display: inline-block;
    position: relative;
    .time {
        position: absolute;
        bottom: 26px;
        left: 150px;
        color: $dark_gray;
    }
}

.left-arrow+.time {
    right: 150px;
    left: auto;
}

#search,
#search_desktop {
    margin-top: 10px;
}



.btn-sidebar {
    display: none;
}

@media (max-width: 991px) {
    .btn-sidebar {
        display: block;
        background-color: transparent;
        border: none;
        color: $Persian_Green;
        &:hover,
        &:focus {
            color: $Persian_Green;
        }
    }
    .btn-sidebar.focus {
        color: $Persian_Green;
    }
    .sidebar-content {
        position: absolute;
        height: 100vh;
        left: -42%;
        opacity: 0;
        width: 42%;
        @include prefix(transition, all .5s ease);
        z-index: 11;
        background-color: $white;
    }

    .sidebar-content.open {
        opacity: 1;
        left: 0;
        @include prefix(transition, all .5s ease);
    }

    .right-side.open_menu {
        @include prefix(transform, translateX(42%));
        @include prefix(transition, all .5s ease);
    }
}

@media (max-width: 776px) {
    .chat-wrapper {
        .time {
            left: 10px;
        }
    }
    .left-arrow+.time {
        right: 10px;
        left: auto;
    }
    .btn-send {
        display: block;
        width: 100%;
        margin: 5px auto;
    }
}

@media (max-width: 500px) {
    .sidebar-content {
        left: -72%;
        width: 72%;
    }
    .right-side.open_menu {
        @include prefix(transform, translateX(72%));
    }
}