/**
 * @Project Name  : chat room
 * @Starting Date : 1/8/2017
 * @Discription   : this file contains all the mixins for our website
 * @Auther        : Shaimaa Mohie
 */

// Font Family
@mixin fontFace($family, $src, $weight: normal, $style: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
        url('#{$src}.woff') format('woff'), // standards
        url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
        url('#{$src}.svg##{$family}') format('svg'); // legacy iOS
        font-style: $style;
        font-weight: $weight;
    }
}

// prefixes
@mixin prefix($attr, $val) {
    -webkit-#{$attr}: $val;
    -moz-#{$attr}: $val;
    -ms-#{$attr}: $val;
    -o-#{$attr}: $val;
    #{$attr}: $val;
}

//keyframes
@mixin keyframes( $animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin color-circle($color) {
    background-color: $color;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}


@mixin truncate($lines:2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin border($width,
$style,
$color) {
    border: $width $style $color;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin ellipsis ($max-width) {
    display: inline-block;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}