/**
 * @Project Name  : chat room
 * @Starting Date : 1/8/2017
 * @Discription   : this file contains all the variables for our website
 * @Auther        : Shaimaa Mohie
 */
//colors
$Persian_Green: #00a69c;
$dark_green: #06827a;
$green: #32b34b;
$red: #f65349;
$orange: #e7a747;
$light_gray: #f1f1f2;
$medium_gray: #e6e7e8;
$dark_gray: #929495;
$darken_gray: #828486;
$more_gray: #555;
$white: #fff;
